.image-div {
    border-style: solid;
    margin: 1vw;
    border-radius: 5px;
    border-width: 0.5px;
    border-color: rgba(150, 150, 150, 0.5);
    text-align: center;
    height: 45vh;
    width: 30vw;
    background-size: contain;
  }
  .main-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-style: double;
    border-radius: 10px;
    border: 50px solid black;
  }
  
  .title {
    margin: 1vw;
    display:flex;
    justify-content: flex-end;
    font-size: medium;
    color:rgb(243, 243, 245);
  }
  
  .main-block {
    margin:1vw;
  }
  .art {
    display:flex;
    justify-content: space-between;
    color:white;
  }
  .cartbtn {
    background-color: black;
    color:white;
  }