
.item-image {
  display:inline-flex;
  justify-content: center;
  align-items: center;
    border-style: solid;
    margin: 1vw;
    border-radius: 6px;
    border-width: 0.5px;
    border-color: rgba(150, 150, 150, 0.5);
    text-align: center;
    height: 26.4vh;
    width: 14vw;
    background-size: contain;
    background-repeat: no-repeat !important;
    border-style: double;
    border-radius: 5px;
    border: 1px solid rgb(243, 249, 143)
}
  .item-details{
    display: flexbox;
    grid-template-columns: repeat(3, 1fr);
    color:white;
    
  }
  
  .title {
    margin: 1vw;
    display:flex;
    justify-content: flex-end;
    font-size: medium;
    color:whitesmoke;
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 29%;
    padding-right:24%;
  }
  
  .main-block {
    margin:1vw;
  }
  .art {
    display:flex;
    justify-content: left;
    color:white;
    background-color: none;
  }
  .cartbtn {
    background-color: black;
    color:white;
    padding-top: 0.1vh;
    padding-bottom: 0.2vh;
    height: 3.3vh;
    width: 3vw;
    font-size: x-small;
    position: relative;
  }
  .price {
    color:red;
  }